@import "colors";

#navigation {
  position: fixed;
  bottom: 2vh;
  right: 2vh;

  z-index: 999;

  .navigation_item {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 5rem;
    width: 5rem;

    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    z-index: 0;
    opacity: 0.75;

    &__telegram, &__map {
      border: 1px solid $color-primary-1;
      background-color: $color-primary-1;
    }

    &__whatsapp, &__phone {
      border: 1px solid $color-primary-0;
      background-color: $color-primary-0;
    }

    transition: 0.2s ease-in-out;

    &:hover {
      cursor: pointer;

      opacity: 1;
      transform: scale(1.1);
      border: 1px solid $color-secondary-a-1 !important;
      background-color: $color-secondary-a-1 !important;

      z-index: 9 !important;
    }
  }
}